
a{
    margin:20px 0px 0px 0px;
    font-size: 15px;
    
}
.jumbotron{
    background-color:pink;
  }
  .input-group{
    margin:23px 0px 0px 0px;
  }
  .form{
    margin:1px 0px 0px 0px;
  }
 
 